{{ "<link rel='stylesheet' href='" | safeHTML }}{{ "css/custom.css" | relURL }}{{ "'>" | safeHTML }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
{{/* Cargar JS personalizado */}}
<script src="{{ "js/main.js" | relURL }}" defer></script>
<!-- Favicon y logo de pestaña -->
<link rel="icon" type="image/png" href="{{ "images/logo.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "images/logo.png" | relURL }}">
<link rel="shortcut icon" href="{{ "images/logo.png" | relURL }}">
<meta name="theme-color" content="#2E3440">
